@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../components/CardClimate/styles.css";
@import "../components/CardLights/styles.css";
@import "../components/PageContentWrapper/styles.css";
@import "../components/animata/background/styles.css";
@import "../components/MinimalCard/styles.css";

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
