.page-content-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;

}

.page-content-wrapper__components {
	display: flex;
	gap: 40px;
}

* {
	user-select: none; /* Bloqueia seleção de texto */
	-webkit-user-select: none; /* Safari e Chrome */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
}

@media (hover: none) {
	html, body {
			cursor: none;
	}
}